= simple_form_for @request, url: requested_offers_path, html: { class: 'offers-request-form' } do |f|
  .form-group.has-error
    = f.error :request
  = f.input :uid, placeholder: t(:enter_uid), label: false
  = f.input :pub0, placeholder: t(:enter_pub0), label: false
  = f.input :page, placeholder: t(:enter_page), as: :integer, label: false
  = f.submit t(:get_offers), class: 'btn btn-success btn-block', data: { disable_with: t(:processing) }