!!!
%html
  %head
    = csrf_meta_tags
    %title= t(:fyber_title)
    %meta{ charset: 'utf-8' }
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = stylesheet_link_tag 'application', 'data-turbolinks-track' => true
  %body
    .container
      .navbar.navbar-inverse.navbar-static-top
        .container
          .navbar-header
            = link_to t(:fyber_title), root_path, class: 'navbar-brand'
      = render 'shared/flash'
      = yield